@use '../../assets/styles/base'as *;
@use '../../assets/styles/mixin'as *;

.projects {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   position: relative;

   @include laptop {
      max-width: 1280px;
      margin: auto;
   }

   &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/home-bg.jpg');
      background-position: center;
      background-size: cover;
      z-index: 0;
   }

   &__display {
      z-index: 1;
      height: 70%;

      @include tablet {
         height: 100%;
         display: grid;
         padding: 1rem;
         gap: 1rem;
         grid-template-columns: repeat(2, 1fr);
         grid-auto-rows: 50%;
         overflow-y: scroll;
      }
   }


}