@use '../../assets/styles/base'as *;
@use '../../assets/styles/mixin'as *;

.about {
   position: relative;
   width: 100%;
   min-height: 100%;

   @include laptop {
      max-width: 1280px;
      margin: auto;
   }

   &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/home-bg.jpg');
      background-position: center;
      background-size: cover;
      z-index: 0;
   }

   &__content {
      height: 90vh;
      width: 90%;
      display: grid;
      margin: auto;
      padding: calc(100vw * 0.05);
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(85vh, 85vh);
      gap: calc(100vw * 0.05);
      z-index: 1;
      overflow-y: scroll;

      @include tablet {
         display: flex;
         flex-direction: column;
         height: 90vh;
         width: 100%;
      }

      &--profile {
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5);
         width: 100%;
         padding: 10px;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         z-index: 1;
         border-radius: 10px;
         position: relative;

         @include tablet {
            display: flex;
            flex-direction: row;
            height: 30vh;
            width: 100%;
            align-items: center;
            justify-content: space-around;
         }

         &-title {
            color: $color-bg;

            @include tablet {
               width: 200px;
               position: absolute;
               top: 5%;
               left: calc(50% - 100px);
               text-align: center;
            }
         }

         &-photo {
            height: 40%;
            width: auto;

            @include tablet {
               // width: auto;
               height: 70%;
            }

         }

         &-intro {
            text-align: center;
            color: $color-bg;

            @include tablet {
               height: 65%;
               width: 60%;
               overflow-y: scroll;
               font-size: 1.2rem;
            }

         }
      }

      &--stack {
         z-index: 1;
         background-color: rgba(0, 0, 0, 0.5);
         height: 100%;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         border-radius: 10px;

         &-tech {
            height: 60%;
            width: 80%;
            margin: auto;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            &-title {
               color: $color-bg;
               height: 30%;
               display: flex;
               justify-content: center;
               align-items: center;
            }

            &-list {
               height: 70%;
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               align-items: center;


               >* {
                  width: 4rem;

                  @include tablet {
                     width: 7rem;
                  }
               }
            }
         }

         &-exp {
            height: 40%;
            width: 80%;
            margin: auto;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;

            @include tablet {
               height: 30%;
               flex-direction: column;
            }

            &-title {
               color: $color-bg;
               height: 30%;
               display: flex;
               justify-content: flex-end;
               align-items: center;


            }

            &-list {
               height: 70%;
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               justify-content: center;

               >* {
                  background-color: $color-bg;
                  margin: 0 15px;
                  border-radius: 15px;
                  padding: 5px 15px;
               }
            }
         }

      }

      &--contact {
         z-index: 1;
         background-color: rgba(0, 0, 0, 0.5);
         height: 100%;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         border-radius: 10px;

         &-title {
            color: $color-bg;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
         }

         &-list {
            height: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-item {
               height: 25%;
               width: 80%;

               display: flex;
               align-items: center;
               justify-content: center;

               img {
                  height: 60%;
                  width: auto;
               }
            }

            &-item:hover {
               background-color: rgba(0, 0, 0, 0.6);
            }


         }

         &-footer {
            color: $color-bg;
            height: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-top: 1px solid $color-bg;
         }


      }
   }



}