@use '../../assets/styles/base'as *;
@use '../../assets/styles/mixin'as *;

.about {
   position: relative;
   width: 100%;
   height: 90%;

   @include laptop {
      max-width: 1280px;
      margin: auto;
   }

   &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/home-bg.jpg');
      background-position: center;
      background-size: cover;
      z-index: 0;
   }

   &__content {
      height: 90vh;
      width: 90%;
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      z-index: 1;

      &--profile {
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5);
         padding: 10px;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         z-index: 1;

         &-title {
            color: $color-bg;
         }

         &-photo {
            height: 40%;
            width: auto;
         }

         &-intro {
            text-align: center;
            color: $color-bg;
         }
      }

      &--techstack {
         z-index: 1;
         background-color: rgba(0, 0, 0, 0.5);
         height: 90vh;
         width: 90%;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;



      }
   }



}