@use './assets/styles/base'as *;
@use './assets/styles/mixin'as *;

.App {
   min-height: 100vh;
   margin: auto;
   background-color: $color-bg;
   min-width: 320px;
   display: flex;
   flex-direction: column;

}