@use '../../assets/styles/base'as *;
@use '../../assets/styles/mixin'as *;

.techicon {
   // width: 10%;
   // height: auto;
   display: flex;
   align-items: center;
   justify-content: center;

   &__icon {
      width: 100%;
      padding: 10px;
   }
}